<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
	  <!--<add key="IpAddr" value="10.34.71.238"/>-->
	  <!--<add key="IpAddr" value="192.168.1.209"/>-->
	  <add key="IpAddr" value="192.168.224.6"/>
	  <add key="GateWayPort" value="9000"/>
    <add key="UserPort" value="9001"/>
  </appSettings>
</configuration>